# This does not appear to allow chained inheritance
InheritParentConfig: true

Checks: >
    # allow magic numbers in tests,
    -readability-magic-numbers,

    # allow namespace using directives in tests,
    -google-build-using-namespace,

    # don't catch all exceptions,
    -bugprone-exception-escape,

    # ignore checks to Google Benchmark headers,
    -clang-analyzer-deadcode.DeadStores,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-owning-memory,
    -modernize-use-trailing-return-type,
