# This does not appear to allow chained inheritance
InheritParentConfig: true

Checks: >
    # allow magic numbers in tests,
    -readability-magic-numbers,

    # allow namespace using directives in tests,
    -google-build-using-namespace,
